*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

:root{
    --main-color:#00ccff;
    --second-color: #d400d4;
    --dark-color:#000;
    --dark-2:#161c2d;
    --light-color:#fff;
    --gray-color:#dddddd;
}
body{overflow-x: hidden;}
.d-flex-1{display: flex; justify-content: space-between; align-items: center;}
.d-flex-2{display: flex; align-items: center;}


input, button{
    outline: 0;
    border: none;
    padding: 6px;
}

.center{text-align: center;}
/* header */
header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 11;
    margin-bottom: 50px;
}

.top-header{
    background: var(--main-color);
    width: 100%;
    padding: 10px 20px;
}
.left-header a ,i, .right-header a, i{
    color: var(--light-color);
    text-decoration: none;
    font-size: 15px;
    padding: 0 10px;
}
.top-header a:hover{color:var(--second-color);}
.top-header i:hover{color:var(--second-color);}

.top-header select, option{
    border: none;
    outline: 0;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 13px;
}

/* nav */

nav{
    width: 100%;
    padding: 0px 20px;
    background: transparent;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
}

/* menu nav color change */
.menu-nav{
    background: var(--light-color);
}
.menu-nav .icons li i{
    color: var(--dark-2);
}
.menu-nav .navigation-ul li a{
    color: var(--dark-2);
}

.navigation-ul{
    position: relative;
    margin: 0;
}
.navigation-ul li{
    display: inline-block;
    list-style: none;
    transition: 0.3s;
    padding: 10px;
}
.navigation-ul li a{
    color: var(--main-color);
    text-decoration: none;
  
}
.navigation-ul li a:hover {
    border-bottom: 2px solid var(--dark-color);
}



.icons{
    margin: 0;
}
.logo-brand img{width: 100px; height:50px;}

.icons input{display: none;}
.icons li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
#search{
    padding: 0px 0px 0 12px;
}
.icons li i{
    color: var(--dark-color);
    transition: 0.3s;
}
.icons li i:hover{
    color: var(--dark-color);
}

.input-search{
    border: 1px solid var(--gray-color);
    outline: 0;
    width: 80%;
    padding: 5px;
    opacity: 0.7;
    transition: 0.3s;
}
#bars{ display: none;}
#bars i{color: var(--main-color); font-size: 22px; transition: 0.3s;}
#bars i:hover{color: var(--second-color); font-size: 22px;}






        /* main */

        .slide-1 {
            background: linear-gradient(90deg, rgba(210, 195, 240, 0.2), rgba(19, 91, 158, 0.1)), url(slider1.jpg);
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 550px;
            position: relative;
        }

        .slide-2 {
            background: linear-gradient(90deg, rgba(210, 195, 240, 0.2), rgba(19, 91, 158, 0.1)), url(slider2.jpg);
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 550px;
            position: relative;
        }

        .slide-caption-1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            text-align: center;
        }

        .slide-caption-1 p {
            font-size: 1rem;
        }

        .main-slider .owl-dots {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translate(-50%, 0);
        }

/* cardss */
.card{
    padding: 10px 5px;
    margin: 10px 0;
}
.card-2 img{width: 100%;}

.card-content{
    padding: 10px;
}
.star-icons i{
    color: goldenrod;
    padding: 0 2px;
    font-size: 12px;
}




@media(max-width:796px){
    /* header responsive */
    .top-header{
        padding: 10px;
    }
    .left-header{
        display: none;
    }
    
    nav{
        position: relative;
        width: 100%;
        padding: 15px;
    }
    .navigation-ul{
        width: 100%;
        position: absolute;
        top: 79px;
        left: 0%;
        text-align: center;
        transform: translateY(-150%);
        background: var(--main-color);
        padding: 20px;
        transition: 0.5s;
    }
    .navigation-ul.active-nav{
        transform: translateY(0%);
    }
    .navigation-ul li{display: block; padding-top: 20px;}
    .navigation-ul li a{color: var(--light-color);}
    #bars {display: block;} 
}

